
.header {
    position: sticky;
    top: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px 0px;
    background-color: #fff;
}

.header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header .logo img {
    width: 35px;
}
.header .logo a{
    color: var(--maincolor);
}

.header .nav a {
    color: #101928;
}

.nav ul {
    display: flex;
    gap: 16px;

}
.header .auth a {
    font-family: var(--subFont);
    padding: 10px 30px;
    border-radius: 5px;
}

.header .auth a:first-of-type {
    border: 1px solid #545BE8;
    color: #545BE8;
}

.header .auth a:last-of-type {
    background-color: #545BE8;
    color: #fff;
}
/* end header*/

/*start testimonials*/
.testimonials{
text-align: center;
padding:40px 0;
}

.testimonials h2{
    margin-bottom: 20px;
}
.testimonials img{

}

.testimonials .row{
    gap:40px;
}

.testimonial{
    width:calc( (100% - 40px) / 2);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    box-shadow: 0px 8.23719596862793px 8.23719596862793px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
}

.testimonial:after{
    content: ' ';
    border-top: 40px solid #F4F4F4;
    border-left: 40px solid transparent;
    border-bottom: 40px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
    
}
.testimonial .user-info{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
}
.testimonial .user-info img{
width: 50px;
height: 50px;
border-radius: 50%;
}

.testimonial .user-info .user-data{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:10px;
    align-items: flex-start;
}
.testimonial .user-info .user-data span{
    font-size: 12px;
    color: #969696;
}
.testimonial .rating{
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}

.testimonial q{
color:#646464;
}
.testimonial .rating span{
    display: inline-block;
    padding: 0 10px;
}

/*start footer*/
.footer{
background-color: #393E46;
color:white;
padding: 50px 0px;
}

.footer a{
  color:white;  
}

.footer .row{
    gap:40px;
}

.footer .footer-left-side,.footer .footer-right-side{
    width : calc((100% - 40px) / 2 );
}

.footer-left-side{
    display:flex;
    flex-direction: column;
    gap:30px;
}

.footer .footer-left-side .logo{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    align-items: center;
}

.footer .footer-left-side .logo img{
    width:35px;
}
.footer .footer-left-side .logo a{
    width: 14px;;
}

.footer .footer-left-side p{
    color: #f4f4f4;
    font-size: 14px;
    font-weight: 200;
}

.footer .footer-left-side .icons img{
    border:1px solid #fff;
    padding:10px;
    width:15px;
    height:15px

}
